SIZE_OPTIONS="<option value=\"\">Select Size</option> <option value=\"XXS\">XXS</option> <option value=\"XS\" disabled>XS (Sold Out)</option> <option value=\"S\">S</option> <option value=\"M\">M</option> <option value=\"L\">L</option> <option value=\"XL\" disabled>XL (Sold Out)</option> <option value=\"XXL\" disabled>XXL (Sold Out)</option> <option value=\"XXXL\">XXXL</option>"
COLOR_UI_HTML=""
COLOR_IMAGE_MAP="{}"
